__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
data/settings.json
data/highscores.json
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.tmp.driveupload/
build/
dist/
*.spec
*.zip
*.exe
Audio_Studio_Tycoon/
Audio_Studio_Tycoon*

